.highlight {
  background-color: red;
}

.navbar-style {
  background-color: rgb(19, 197, 158) !important;
}

.red-bg {
  background-color: red !important;
}

.blue-bg {
  background-color: blue !important;
}
